<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottmangiapane.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivity-Gray"
            android:icon="@mipmap/ic_launcher_gray"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Red"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Green"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Cyan"
            android:icon="@mipmap/ic_launcher_cyan"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Blue"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Indigo"
            android:icon="@mipmap/ic_launcher_indigo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Purple"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>