<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scottmangiapane.calculatorv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <activity
            android:name="com.scottmangiapane.calculatorv2.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.APP_CALCULATOR" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivity-Blue"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Cyan"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_cyan"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Gray"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_gray"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Green"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_green"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Indigo"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_indigo"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Purple"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity-Red"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:targetActivity="com.scottmangiapane.calculatorv2.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.scottmangiapane.calculatorv2.SettingsActivity"
            android:label="@string/app_name" />
    </application>
</manifest>